*{
    box-sizing: border-box;
}
body{ 
    background-color: black;
}
img{
    width: 30px;
    margin-top: 3px;
} 
.right-menu{ 
    margin-left: 70%;
}
.head{
    display: flex;   
    padding: 5px;
}
h1{
    font-size: 10px;
    margin-bottom: 0%;
    font-family: roboto;
    
}
h2{
    font-size: 10px;
    margin-top: 0%;
    font-family: roboto;
}
.img-post{
    width: 100%;
}

.post{
    background-color: white;
    width: 30%;
    margin: auto;
}
.icons{
    display: flex;
    padding: 5px;   
}
.bookmark{
    margin-left: 80%;
}
p{
    font-family: Roboto;
    padding: 5px;    
}